@import "normalize";
@import "vars";

body {
  font-family: "Comfortaa", cursive;
  box-sizing: border-box;
}

li {
  list-style: none;
}

@import "blocks/catagory";
@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/filter";
@import "button";
