.footer {
  width: 100%;
  height: auto;

  color: white;
  background-color: #424242;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 100px 10px;
}

.footer__title {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__description {
  max-width: 300px;

  font-size: 12px;
  font-weight: 300;
}

.footer__list {
  display: flex;
}

.footer__list-item {
  padding: 0 5px;
  line-height: 0.8;

  &:not(:last-child) {
    border-right: 1px solid white;
  }

  a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;

    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }
}
