.nav {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 10000;
}

.nav__scroll {
  position: fixed;
  background-color: black;
  opacity: 0.5;
}

.nav__content {
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu-list {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.nav__menu-list_item {
  a {
    font-size: 18px;
    font-weight: 600;

    color: white;

    text-decoration: none;

    transition: 0.3s linear;

    &:hover {
      color: #aa9b77;
    }

    svg {
      height: 25px;
      width: 25px;
      fill: white;
      transition: 0.3s linear;

      &:hover {
        fill: #aa9b77;
      }
    }
  }
}
