.social {
  height: auto;
  width: 100%;

  background-color: #535253;
}

.social__conatainer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px 0;
}

.social__links {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.social__links-item {
  width: 3rem;
  height: 3rem;

  img {
    display: block;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
  }
}

.social__links-img {
  fill: #010002;
  transition: 0.5s;
  &#facebook:hover {
    fill: #3b5998;
  }
  &#instagram:hover {
    fill: #eb1567;
  }
  &#twitter:hover {
    fill: #00acee;
  }
  &#linkedin:hover {
    fill: #0288d1;
  }
}
